/* Reset */

*{
   padding: 0; 
   margin: 0;
   box-sizing: border-box;
}

.container{
   max-width: 1800px;
   margin: 0 auto;
}

main{
   height: 100vh;
   background-color: magenta;
}


.nasted-col-2{
   flex-basis: calc((100% / 12) * 2); 
   background-color: rgb(135, 197, 42);
   border: 1px solid #5f5fe1;
   height: 2.5rem;

}

.nasted-col-8{
   flex-basis: calc((100% / 12) * 8); 
   background-color: rgb(135, 197, 42);
   border: 1px solid #5f5fe1;
   height: 2.5rem;

}

.nasted-col-6{
   flex-basis: calc((100% / 12) * 6); 
   background-color: rgb(135, 197, 42);
   border: 1px solid #5f5fe1;
   height: 2.5rem;


}

.padding-col-6{
   padding: .5rem;
   flex-basis: calc((100% / 12) * 6); 
   margin-bottom: 1rem;

   
}