/* Reset */

*{
   padding: 0; 
   margin: 0;
   box-sizing: border-box;
}

.container{
   margin: 0 auto;
   max-width: 1292px;
}

[class*="col-"]{
   line-height: 3rem;
   height: 4rem;
   max-width: 1900px;
   background-color: #000000;
}

